* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #cecece;
  font-family: Tahoma;
  user-select: none;
}

body,
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1b1b1b;
  width: 100vw;
  height: 100vh;
}

#game-board {
  width: 300px;
  height: 300px;
  position: relative;
  border: 1px solid #cecece30;
}

.tile {
  position: absolute;
  border: 1px solid #cecece10;
  height: 100px;
  width: 100px;
  transition: top 0.2s, left 0.2s;
  background: url(./image.png);
}

#\38 {
  background: #1b1b1b09;
  border: none;
}

#content {
  text-align: center;
  width: 300px;
}

button,
#steps {
  border: none;
  border-radius: 10px;
  padding: 1em 2em;
  min-width: 10em;
  width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin-block: 0.25em;
  transition-duration: 0.4s;
  background-color: #131313
}

button:hover {
  cursor: pointer;
  background-color: #aa0418;
}

.bar {
  position: fixed;
  margin-block: 1vw;
}

#header {
  top: 0%;
}

#footer {
  bottom: 0%;
}